# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Virtual environment
venv/
.env/
.venv/

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Windows files
Thumbs.db
desktop.ini

# Output files
*.xlsx
name_address_map.txt

# Logs and temp files
*.log
*.tmp

# Selenium downloads or driver cache (if used)
chromedriver.exe
chromedriver.log
